$color_primary: #ceae80;
$color_secondary: #007063;

$color_primary_tint_10: #d3b68d;
$color_primary_tint_20: #d8be99;
$color_primary_tint_30: #ddc6a6;
$color_primary_tint_40: #e2ceb3;
$color_primary_tint_50: #e7d7c0;
$color_primary_tint_60: #ebdfcc;
$color_primary_tint_70: #f0e7d9;
$color_primary_tint_80: #f5efe6;
$color_primary_tint_90: #faf7f2;

$color_primary_shade_10: #b99d73;
$color_primary_shade_20: #a58b66;
$color_primary_shade_30: #907a5a;
$color_primary_shade_40: #7c684d;
$color_primary_shade_50: #675740;
$color_primary_shade_60: #524633;
$color_primary_shade_70: #3e3426;
$color_primary_shade_80: #29231a;
$color_primary_shade_90: #15110d;

$color_secondary_tint_10: #1a7e73;
$color_secondary_tint_20: #338d82;
$color_secondary_tint_30: #4d9b92;
$color_secondary_tint_40: #66a9a1;
$color_secondary_tint_50: #80b8b1;
$color_secondary_tint_60: #99c6c1;
$color_secondary_tint_70: #b3d4d0;
$color_secondary_tint_80: #cce2e0;
$color_secondary_tint_90: #e6f1ef;

$color_secondary_shade_10: #006559;
$color_secondary_shade_20: #005a4f;
$color_secondary_shade_30: #004e45;
$color_secondary_shade_40: #00433b;
$color_secondary_shade_50: #003832;
$color_secondary_shade_60: #002d28;
$color_secondary_shade_70: #00221e;
$color_secondary_shade_80: #001614;
$color_secondary_shade_90: #000b0a;

$color_text_primary: rgba(0, 0, 0, 0.87);
$color-text_secondary: rgba(0, 0, 0, 0.6);

$color_text_blueish: #213262;
$color_text_error: #f44336;

$color_white: #ffffff;

$color_black: #000000;

$color_gray: #808080;
